<!DOCTYPE html>
<html lang="eng">
 <head>   
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>
<div>
<form action=""method="post">
    <label>Username</label><br>
    <input name="username" type="email" placeholder="enter username"><br><br>
    <label>Password</label><br>
    <input name="password" type="password" placeholder="enter password"><br><br>
    <input type="submit" value="LOGIN"><br><br>
        </form>
</div>
<div>
    <form action="/new">
<label>Register here</label>
    <input value="Register" type="Submit">
    </form>
</div>
</body>
</html>
